[submodule "ventura-client-gateway"]
	path = ventura-client-gateway
	url = git@github.com:claudiocoder/Ventura-client-gateway.git
[submodule "ventura-auth"]
	path = ventura-auth
	url = git@github.com:claudiocoder/Ventura-auth.git
[submodule "ventura-ui"]
	path = ventura-ui
	url = git@github.com:claudiocoder/ventura-ui.git
[submodule "ventura-post"]
	path = ventura-post
	url = git@github.com:claudiocoder/ventura-post.git
